<nav id="navbar">
    <div class="java">
        <h1>One Blog</h1>
        <p>Super Blog</p>
    </div>
    <ul class="mern">
        <li><a href="/">Home</a></li>
        <li><a href="/about">About</a></li>
        <li><a href="/blogs">Blog</a></li>
    </ul>
</nav>