<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head') %>

    <body>
        <%- include('./partials/nav') %>

    <div>

        <p style="padding: 10px;">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Exercitationem dolorem autem optio mollitia repudiandae facere, laudantium blanditiis eum.</p>

        <p style="padding: 10px;">Lorem ipsum dolor sit amet consectetur adipisicing elit. Libero, vel nobis? Esse minima nulla reprehenderit ratione sed a ipsum maxime mollitia laborum.</p>

        <p style="padding: 10px;">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Unde est sunt ducimus, accusantium ipsam consectetur cumque veniam tenetur dolore vero voluptates.</p>


    </div>

    <%- include("./partials/footer")%>
</body>
</html>